
<!-- navbar section -->
<nav class="navbar">
    <div class="left-nav">
        <h2 class="t-white poppins">Middle School</h2>
    </div>
    <div class="right-nav">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link" href="#homeImg">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#contact">Contact</a>
            </li>
        </ul>
    </div>
</nav>

<div id="homeImg">
    <img src="./assets/middle-school.jpg" alt="">
</div>

<!-- About Section -->
<section id="about">
    <h1 class="t-center my-2 t-white f-2">About</h1>
    <div class="flex s-around ">
        <div class=" about-left flex s-center items-center">
            <!-- Here in src replade the given link with your secondary image link --> -->
            <img src="./assets/home.jpg" alt="">
        </div>

        <div class="about-right flex">
            <div class="about-content">
                <h1 class="t-white m-b-1 poppins">Middle School</h1>
                <p class="t-white poppins">Our school's mission is to learn leadership, the common core, and relationships for life. Our mission is to provide a
                safe, disciplined learning environment that empowers all students to develop their full potential. We feel strongly
                about helping to build leaders that have the ability to succeed in whatever endeavor they undertake. Winning is not
                always the measure of success. Our students understand the "Win, win" philosophy and use it in their daily life. Common
                standards keeps us focused on learning appropriate content and preparing our students to graduate. Last but just as
                importantly, setting examples for our students of meaningful and lasting relationships will go with them throughout
                their lifetime</p>
                <a class="btn live poppins" id="hireme" href="">Visit
                    Here</a>
            </div>
        </div>
    </div>
</section>

<!-- Contact Section -->
<section id="contact" class="m-b-1">
    <h1 class=" t-center my-2 t-white f-2">Contact Our School</h1>
    <div class="contact-container flex s-around items-centers">
        <div class="form" id="contactForm">
            <form action="" id="contactFrom">
                <div class="name form-div">
                    <input type="text" name="name" id="name" class="poppins" placeholder="Enter Your Name">
                </div>
                <div class="email form-div">
                    <input type="email" name="email" id="email" class="poppins" placeholder="Enter Your Email" required>
                </div>
                <div class="phone form-div">
                    <input type="phone" name="phone" id="phone" class="poppins" placeholder="Enter Your Phone" required>
                </div>
                <div class="textarea form-div">
                    <textarea name="text" id="textarea" cols="30" rows="10" class="poppins"
                        placeholder="Enter Messages"></textarea>
                </div>
                <button type="submit" class="btn poppins" id="submit">Send</button>
            </form>
        </div>
    </div>
</section>